@import '../global';

.right-panel {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  .title {
    height: 40px;
    width: 100%;
    font-size: 16px;
    background-color: $primary-color;
    line-height: 40px;
    color: #FFFFFF;
    span {
      margin-left: 30px;
    }
  }
  .tag-cloud {
    width: 278px;
    border-right:1px dashed #eeeeee;
    border-left:1px dashed #eeeeee;
    border-bottom:1px dashed #eeeeee;
    height: 300px;
    svg {
      text {
        fill: $primary-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .right-panel {
    display: none;
  }
}
