@import "../global";

.loading-component {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, .3);
  z-index: 99999;
  .gif-container {
    text-align: center;
    height: 64px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    user-select: none;
    .text-container {
      position: absolute;
      bottom: -20px;
      text-align: center;
      width: 200px;
      color: white;
    }
  }
}
