@import '../global';

.media-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1031px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100px;
    margin: auto;
    .inner {
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin:auto;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 367px;
      grid-gap: 20px;
      background-color: white;
      .item {
        overflow: auto;
        img {
          height: 100%;
        }
      }
      .item1 {
        overflow: auto;
      }
      .item2 {
        display: grid;
        grid-template-rows: 1fr 20px;
        grid-gap: 10px;
        .content {
        }
        .bottom {
          font-size: 14px;
        }
      }
      #chahao {
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
