@import "../global";

.magazine-list {
  background-color: #f9f9f9;
  .magazine-list-wrapper {
    width: 1240px;
    margin:0 auto;
    .magazine-left{
      float: left;
      width: 660px;
      background-color: #fff;
      margin-left: 20px;
      .list-cent{
        width: 660px;
        float: left;
        .list-center{
          width: 586px;
          margin:0 auto;
          .list-count {
            color: #9a9a9a;
            font-size: 12px;
            margin: 15px 0 0 12px;
          }
        }
      }
    }
  }
}





@media only screen and (max-width: $max-width) {
  .magazine-list{
    .magazine-list-wrapper {
      width: 100%;
      .magazine-left {
        float: none;
        width: auto;
        background-color: #fff;
        margin:0;
        overflow: hidden;
        .list-cent{
          width: 100%;
          float: none;
          .list-center{
            width: 100%;
          }
        }
      }
    }
  }
}
